#php_value register_globals 0 
#php_value magic_quotes_gpc 0 
#php_value session.use_trans_sid 1
#php_value date.timezone Europe/Moscow

AddDefaultCharset UTF-8
DirectoryIndex index.php
Options -Indexes


AddType text/vnd.sun.j2me.app-descriptor .jad
Addtype image/jpeg .jpg 
Addtype image/jpeg .jpeg 
Addtype image/gif .gif 
Addtype image/png .png 
Addtype image/bmp .bmp 
Addtype application/java-archive .jar 
Addtype application/vnd.symbian.install .sis 
Addtype audio/wav .wav 
AddType video/flv .flv
AddType video/mp4 .mp4
Addtype video/3gpp .3gp
Addtype application/zip .zip
Addtype audio/mpeg .mp3


# переопределяем страницы ошибок
ErrorDocument 400 /err.php?err=400
ErrorDocument 401 /err.php?err=401
ErrorDocument 402 /err.php?err=402
ErrorDocument 403 /err.php?err=403
ErrorDocument 404 /err.php?err=404
ErrorDocument 500 /err.php?err=500
ErrorDocument 502 /err.php?err=502